USE [master]
GO
/****** Object:  Database [NexusGearDB]    Script Date: 02/03/2026 18:43:15 ******/
CREATE DATABASE [NexusGearDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NexusGearDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\NexusGearDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NexusGearDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\NexusGearDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NexusGearDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NexusGearDB]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 02/03/2026 18:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varbinary](64) NOT NULL,
	[PasswordSalt] [varbinary](16) NOT NULL,
	[MustChangePwd] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ACCOUNT_EmpID] UNIQUE NONCLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ACCOUNT_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 02/03/2026 18:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CATEGORY_Name] UNIQUE NONCLUSTERED 
(
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 02/03/2026 18:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [varchar](10) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Address] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CUSTOMER_Code] UNIQUE NONCLUSTERED 
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 02/03/2026 18:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EmpID] [int] IDENTITY(1,1) NOT NULL,
	[EmpCode] [varchar](10) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Position] [nvarchar](50) NOT NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EMPLOYEE_EmpCode] UNIQUE NONCLUSTERED 
(
	[EmpCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMPORT_DETAIL]    Script Date: 02/03/2026 18:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORT_DETAIL](
	[ImportID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[UnitCost] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_IMPORT_DETAIL] PRIMARY KEY CLUSTERED 
(
	[ImportID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMPORT_RECEIPT]    Script Date: 02/03/2026 18:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPORT_RECEIPT](
	[ImportID] [int] IDENTITY(1,1) NOT NULL,
	[ImportCode] [varchar](20) NOT NULL,
	[ImportDate] [datetime] NOT NULL,
	[SupplierID] [int] NOT NULL,
	[EmpID] [int] NOT NULL,
	[Note] [nvarchar](200) NULL,
 CONSTRAINT [PK_IMPORT_RECEIPT] PRIMARY KEY CLUSTERED 
(
	[ImportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_IMPORT_RECEIPT_Code] UNIQUE NONCLUSTERED 
(
	[ImportCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 02/03/2026 18:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductCode] [varchar](20) NOT NULL,
	[ProductName] [nvarchar](150) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[SellPrice] [decimal](18, 2) NOT NULL,
	[InventoryQty] [int] NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PRODUCT_Code] UNIQUE NONCLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_IMAGE]    Script Date: 02/03/2026 18:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_IMAGE](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ImageUrl] [nvarchar](255) NOT NULL,
	[IsMain] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PRODUCT_IMAGE] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 02/03/2026 18:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ROLE_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALES_DETAIL]    Script Date: 02/03/2026 18:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES_DETAIL](
	[InvoiceID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[UnitCostAtSale] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_SALES_DETAIL] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALES_INVOICE]    Script Date: 02/03/2026 18:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALES_INVOICE](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceCode] [varchar](20) NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[CustomerID] [int] NULL,
	[EmpID] [int] NOT NULL,
	[Status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SALES_INVOICE] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SALES_INVOICE_Code] UNIQUE NONCLUSTERED 
(
	[InvoiceCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 02/03/2026 18:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierCode] [varchar](10) NOT NULL,
	[SupplierName] [nvarchar](150) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Address] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SUPPLIER_Code] UNIQUE NONCLUSTERED 
(
	[SupplierCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_IMPORT_RECEIPT_ImportDate]    Script Date: 02/03/2026 18:43:15 ******/
CREATE NONCLUSTERED INDEX [IX_IMPORT_RECEIPT_ImportDate] ON [dbo].[IMPORT_RECEIPT]
(
	[ImportDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PRODUCT_ProductCode]    Script Date: 02/03/2026 18:43:15 ******/
CREATE NONCLUSTERED INDEX [IX_PRODUCT_ProductCode] ON [dbo].[PRODUCT]
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SALES_INVOICE_InvoiceDate]    Script Date: 02/03/2026 18:43:15 ******/
CREATE NONCLUSTERED INDEX [IX_SALES_INVOICE_InvoiceDate] ON [dbo].[SALES_INVOICE]
(
	[InvoiceDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF_ACCOUNT_MustChangePwd]  DEFAULT ((1)) FOR [MustChangePwd]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF_ACCOUNT_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF_ACCOUNT_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  CONSTRAINT [DF_CATEGORY_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  CONSTRAINT [DF_CUSTOMER_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  CONSTRAINT [DF_EMPLOYEE_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  CONSTRAINT [DF_EMPLOYEE_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[IMPORT_RECEIPT] ADD  CONSTRAINT [DF_IMPORT_RECEIPT_Date]  DEFAULT (getdate()) FOR [ImportDate]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF_PRODUCT_Inventory]  DEFAULT ((0)) FOR [InventoryQty]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF_PRODUCT_Reorder]  DEFAULT ((0)) FOR [ReorderLevel]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF_PRODUCT_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF_PRODUCT_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PRODUCT_IMAGE] ADD  CONSTRAINT [DF_PRODUCT_IMAGE_IsMain]  DEFAULT ((0)) FOR [IsMain]
GO
ALTER TABLE [dbo].[PRODUCT_IMAGE] ADD  CONSTRAINT [DF_PRODUCT_IMAGE_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SALES_INVOICE] ADD  CONSTRAINT [DF_SALES_INVOICE_Date]  DEFAULT (getdate()) FOR [InvoiceDate]
GO
ALTER TABLE [dbo].[SALES_INVOICE] ADD  CONSTRAINT [DF_SALES_INVOICE_Status]  DEFAULT ('COMPLETED') FOR [Status]
GO
ALTER TABLE [dbo].[SUPPLIER] ADD  CONSTRAINT [DF_SUPPLIER_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SUPPLIER] ADD  CONSTRAINT [DF_SUPPLIER_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_ACCOUNT_EMPLOYEE] FOREIGN KEY([EmpID])
REFERENCES [dbo].[EMPLOYEE] ([EmpID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_ACCOUNT_EMPLOYEE]
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYEE_ROLE] FOREIGN KEY([RoleID])
REFERENCES [dbo].[ROLE] ([RoleID])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_EMPLOYEE_ROLE]
GO
ALTER TABLE [dbo].[IMPORT_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_IMPORT_DETAIL_IMPORT] FOREIGN KEY([ImportID])
REFERENCES [dbo].[IMPORT_RECEIPT] ([ImportID])
GO
ALTER TABLE [dbo].[IMPORT_DETAIL] CHECK CONSTRAINT [FK_IMPORT_DETAIL_IMPORT]
GO
ALTER TABLE [dbo].[IMPORT_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_IMPORT_DETAIL_PRODUCT] FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCT] ([ProductID])
GO
ALTER TABLE [dbo].[IMPORT_DETAIL] CHECK CONSTRAINT [FK_IMPORT_DETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[IMPORT_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_IMPORT_RECEIPT_EMPLOYEE] FOREIGN KEY([EmpID])
REFERENCES [dbo].[EMPLOYEE] ([EmpID])
GO
ALTER TABLE [dbo].[IMPORT_RECEIPT] CHECK CONSTRAINT [FK_IMPORT_RECEIPT_EMPLOYEE]
GO
ALTER TABLE [dbo].[IMPORT_RECEIPT]  WITH CHECK ADD  CONSTRAINT [FK_IMPORT_RECEIPT_SUPPLIER] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[SUPPLIER] ([SupplierID])
GO
ALTER TABLE [dbo].[IMPORT_RECEIPT] CHECK CONSTRAINT [FK_IMPORT_RECEIPT_SUPPLIER]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CATEGORY] ([CategoryID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY]
GO
ALTER TABLE [dbo].[PRODUCT_IMAGE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_IMAGE_PRODUCT] FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCT] ([ProductID])
GO
ALTER TABLE [dbo].[PRODUCT_IMAGE] CHECK CONSTRAINT [FK_PRODUCT_IMAGE_PRODUCT]
GO
ALTER TABLE [dbo].[SALES_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_SALES_DETAIL_INVOICE] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[SALES_INVOICE] ([InvoiceID])
GO
ALTER TABLE [dbo].[SALES_DETAIL] CHECK CONSTRAINT [FK_SALES_DETAIL_INVOICE]
GO
ALTER TABLE [dbo].[SALES_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_SALES_DETAIL_PRODUCT] FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCT] ([ProductID])
GO
ALTER TABLE [dbo].[SALES_DETAIL] CHECK CONSTRAINT [FK_SALES_DETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[SALES_INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_SALES_INVOICE_CUSTOMER] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
GO
ALTER TABLE [dbo].[SALES_INVOICE] CHECK CONSTRAINT [FK_SALES_INVOICE_CUSTOMER]
GO
ALTER TABLE [dbo].[SALES_INVOICE]  WITH CHECK ADD  CONSTRAINT [FK_SALES_INVOICE_EMPLOYEE] FOREIGN KEY([EmpID])
REFERENCES [dbo].[EMPLOYEE] ([EmpID])
GO
ALTER TABLE [dbo].[SALES_INVOICE] CHECK CONSTRAINT [FK_SALES_INVOICE_EMPLOYEE]
GO
ALTER TABLE [dbo].[IMPORT_DETAIL]  WITH CHECK ADD  CONSTRAINT [CK_IMPORT_DETAIL_Qty] CHECK  (([Qty]>(0)))
GO
ALTER TABLE [dbo].[IMPORT_DETAIL] CHECK CONSTRAINT [CK_IMPORT_DETAIL_Qty]
GO
ALTER TABLE [dbo].[IMPORT_DETAIL]  WITH CHECK ADD  CONSTRAINT [CK_IMPORT_DETAIL_UnitCost] CHECK  (([UnitCost]>=(0)))
GO
ALTER TABLE [dbo].[IMPORT_DETAIL] CHECK CONSTRAINT [CK_IMPORT_DETAIL_UnitCost]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [CK_PRODUCT_Inventory] CHECK  (([InventoryQty]>=(0)))
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [CK_PRODUCT_Inventory]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [CK_PRODUCT_Reorder] CHECK  (([ReorderLevel]>=(0)))
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [CK_PRODUCT_Reorder]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [CK_PRODUCT_SellPrice] CHECK  (([SellPrice]>(0)))
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [CK_PRODUCT_SellPrice]
GO
ALTER TABLE [dbo].[SALES_DETAIL]  WITH CHECK ADD  CONSTRAINT [CK_SALES_DETAIL_Qty] CHECK  (([Qty]>(0)))
GO
ALTER TABLE [dbo].[SALES_DETAIL] CHECK CONSTRAINT [CK_SALES_DETAIL_Qty]
GO
ALTER TABLE [dbo].[SALES_DETAIL]  WITH CHECK ADD  CONSTRAINT [CK_SALES_DETAIL_UnitCostAtSale] CHECK  (([UnitCostAtSale]>=(0)))
GO
ALTER TABLE [dbo].[SALES_DETAIL] CHECK CONSTRAINT [CK_SALES_DETAIL_UnitCostAtSale]
GO
ALTER TABLE [dbo].[SALES_DETAIL]  WITH CHECK ADD  CONSTRAINT [CK_SALES_DETAIL_UnitPrice] CHECK  (([UnitPrice]>(0)))
GO
ALTER TABLE [dbo].[SALES_DETAIL] CHECK CONSTRAINT [CK_SALES_DETAIL_UnitPrice]
GO
ALTER TABLE [dbo].[SALES_INVOICE]  WITH CHECK ADD  CONSTRAINT [CK_SALES_INVOICE_Status] CHECK  (([Status]='CANCELLED' OR [Status]='COMPLETED'))
GO
ALTER TABLE [dbo].[SALES_INVOICE] CHECK CONSTRAINT [CK_SALES_INVOICE_Status]
GO
/****** Object:  StoredProcedure [dbo].[sp_SetPassword]    Script Date: 02/03/2026 18:43:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_SetPassword]
    @Username VARCHAR(50),
    @PlainPassword NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Salt VARBINARY(16) = CRYPT_GEN_RANDOM(16);
    DECLARE @Hash VARBINARY(64) =
        HASHBYTES('SHA2_512', @Salt + CONVERT(VARBINARY(MAX), @PlainPassword));

    UPDATE ACCOUNT
    SET PasswordSalt = @Salt,
        PasswordHash = @Hash,
        MustChangePwd = 1,
        IsActive = 1
    WHERE Username = @Username;
END
GO
USE [master]
GO
